.opcaoChamada {
    display: flex;
    flex-direction: row;
}
/* ------------------------------------------------------ */
.novaChamada {
    margin-top:0.5em;
    margin-left: 2em;
}
.historicoChamada{
    margin-top:0.5em;
    margin-left: 2em;
    
}
/* ------------------------------------------------------ */
.telaListaAlunos {
    display: flex;
    flex-direction: row;
}
/* ------------------------------------------------------ */
.sala{
    margin-top:3em;
    margin-left: 10em;
}
.listaAlunos{
    margin-left:20em;
    margin-top:8em;
}
 
ul{
    list-style-type: none;
}

li{
    margin-top:1em;
}

.gerarQrCode {
    margin-left: 40em;
    margin-top: 35em;
    
}

.Link {
    text-decoration: none;
    background-color: #c9eded;
    padding: 5px;
    border-radius: 10px;
    
}

/* ------------------------------------------------------ */
#formatacao{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}