.opcaoChamada {
    display: flex;
    flex-direction: row;
}
/* ------------------------------------------------------ */
.novaChamada {
    margin-top:0.5em;
    margin-left: 2em;
}
.historicoChamada{
    margin-top:0.5em;
    margin-left: 2em;
    
}
/* ------------------------------------------------------ */
.telaListaAlunos {
    display: flex;
    flex-direction: row;
}
/* ------------------------------------------------------ */
.sala{
    position: absolute;
    top: 10em;
    left:10em;
}
.listaAlunos{
    position: absolute;
    left: 25em;
    top: 11em;
}
 
ul{
    list-style-type: none;
}

li{
    margin-top:0.5em;
}

.gerarQrCode {
    position: absolute;
    right: 8em;
    bottom: 13em;
}

.Link {
    text-decoration: none;
    background-color: #c9eded;
    padding: 5px;
    border-radius: 10px;
    
}

/* ------------------------------------------------------ */
#formatacao{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}