.aluno {
    position: absolute;
    right: 60em;
    top:15em;
    
}

.professor {
    position: absolute;
    right: 40em;
    top:15em;
    
}
.centro{
    display: flex;
    flex-direction: row;
}

#formatacao{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.Link {
    text-decoration: none;
    background-color: #c9eded;
    padding: 5px;
    border-radius: 10px;
    
}
