.aluno {
    position: absolute;
    right: 60%;
    top: 30%;
}

.professor {
    position: absolute;
    right: 30%;
    top: 30%;
}

.centro{
    display: flex;
    flex-direction: row;
}

.formatacao{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.link {
    text-decoration: none;
    background-color: #c9eded;
    padding: 5px;
    border-radius: 10px;
    
}
