* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	display:flex;
	flex-direction: row;
	background-color: #1d8989;
	color: #ebf5f5;
	padding: 20px;
	font-family: 'Indie Flower', cursive;
}

.titulo {
	width: max-content;
	font-size: 2em;
	border: 2px solid blue
}

.menu{
	margin-right:5px;
	position: absolute;
	right:0;
	display:flex;
	flex-direction: row;
	width: max-content;
	text-align: right;
	border: 2px red solid;
}

#ra {
	margin-right: 0.4em;
	text-align: right;
	font-size: 1.4em;
}

#iconeUsuario{
	margin-top: 0.15em;
	margin-right: 0.4em;
	font-size: 23px;
}

#iconeLista{
	margin-left: 0.4em;
	font-size: 3em;
	border: 2px solid yellow;

}





/*----------------------------------------------- */

body {
	margin: 0px;
}

.container {
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	margin-top: 8em;
	font-weight: bold;
}

.qrCode {
	margin-top: 8em;
	background-color: #c9eded;
	width: max-content;
	padding: 5px;
	border-radius: 10px;
}

/*----------------------------------------------- */
footer {
	width: 100%;
	padding: 1em;
	position: absolute;
	bottom: 0;
	background-color: #1d8989;
	color: #ebf5f5;
	text-align: center;
}

.descricao {
	text-align: justify;
}